---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Pega Systems Architect",
    company: "Centauro Solutions S.A.",
    description:
      "Arquitecto de soluciones empresariales especializado en PEGA Systems (plataforma low-code).",
    link: "https://www.centaurosolutions.com/",
  },
  {
    date: "Diciembre 2023",
    title: "Freelancer",
    company: "Smarticket",
    description:
      "Implementación y optimización de una aplicación para la venta de entradas offline, enfocada en mejorar la experiencia del usuario y agilizar el proceso de compra. Además, desarrollo de nuevas funcionalidades y mejoras en la plataforma web de ventas online.",
    link: "https://smarticket.net/",
  },
  {
    date: "Noviembre 2022",
    title: "Freelancer",
    company: "Cliente Privado",
    description:
      "Creación de en un sistema de gestión de tareas diarias y mensuales. Para facilitar la organización y el seguimiento de las mismas, priorisando las distintas actividades.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
