---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Pega Systems Architect",
    company: "Centauro Solutions S.A.",
    description:
      "Arquitecto de soluciones empresariales especializado en PEGA Systems (plataforma low-code).",
    link: "https://www.centaurosolutions.com/",
  },
  {
    date: "Noviembre 2022",
    title: "Freelancer",
    company: "Freelancer",
    description:
      "Creación y desarrollo de aplicaciones web. Mejoras en software, aplicando buenas prácticas, con el fin de obtener un producto escalable. Implementar y mejorar un aplicativo para la venta de entradas offline y online, con el fin de mejorar la experiencia del usuario.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
