---
const personalImageAlt = "Jairo Pérez";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import WhatsApp from "./icons/WhatsApp.astro";
---

<div class="max-w-4xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg lg:size-24 md:size-16 sm:size-14 object-cover"
      src="/me.jpg"
      alt={personalImageAlt}
    />
    <!-- <div class="flex gap-2"> -->
    <h1
      class="flex lg:text-4xl lg:mt-14 md:text-3xl md:mt-8 sm:text-2xl sm:mt-6 font-bold tracking-tight text-gray-800 dark:text-white"
    >
      Hola! soy Jairo
    </h1>
    <!-- <a
        href="https://linkedin.com/in/jperezr89"
        target="_blank"
        rel="noopener"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
        <Badge>Disponible para trabajar</Badge>
      </a> -->
    <!-- </div> -->
  </div>

  <h2
    class="mt-8 font-bold tracking-tight text-gray-800 lg:text-3xl md:text-2xl sm:text-xl dark:text-yellow-400"
  >
    Ingeniero de Software, Desarrollador y Programador Web
  </h2>
  <p
    class="mt-5 md:text-xl sm:text-sm text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300 text-justify"
  >
    Profesional multidisciplinario con más de 4 años desarrollando e
    implementando aplicaciones web robustas y escalables, así como en la
    definición de arquitecturas empresariales. Trabajo creando sofware que
    soluciona problemas de forma sencilla.
  </p>
  <nav class="flex flex-wrap gap-4 mt-6 pb-16 lg:text-xl md:text-sm sm:text-xs">
    <SocialPill href="mailto:jrwc1989@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/jperezr89">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill
      href="https://wa.me/50683182537?text=Hola%20Jairo!%20Quiero%20contactarte%20desde%20tu%20portafolio"
    >
      <WhatsApp class="size-4" />
      WhatsApp
    </SocialPill>
  </nav>
</div>
