---
const personalImageAlt = "Jairo P칠rez";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/me.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/jperezr89"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey! soy Jairo
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>Ingeniero de Software, Desarrollador y Programador Web</strong> de Puntarenas,
    Costa Rica 游쀯릖. Con experiencia s칩lida en PHP y arquitecto de soluciones empresariales
    especializado en PEGA Systems (plataforma low-code). Profesional multidisciplinario
    con m치s de 4 a침os desarrollando e implementando aplicaciones web robustas y escalables,
    as칤 como en la definici칩n de arquitecturas empresariales.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:jrwc1989@gmail.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/jperezr89">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
